body {
  background-color: #384562;
}
/* @media (min-width: 801px) {
  body{
    margin-top: 3%;
  }
} */

.col-lg-4 {
  margin: auto;
}
.col-lg-3 {
  margin: auto;
}

.container-fluid {
  text-align: center;
  padding-top: 5%;
  padding-left: 8%;
  padding-right: 8%;
}
@media (max-width: 501px) {
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}

.desc {
  font-size: 1.2rem;
  margin: auto;
  width:80%;
  color: #7BBBC0;
}
@media (max-width: 991px) {
  .desc {
    margin-bottom: 5%;
  }
}

.btn:hover {
  background-color: #282D3A !important;
  color: #D02441 !important;
}

h1 {
  color: #EDC139;
  font-size: 6rem;
  padding: 1%;
}

@media (max-width: 420px) {
  #open-1 {
    font-size: 3.2rem
  }
  #open-2 {
    font-size: 1.6rem
  }
}
@media (min-width: 421px) and (max-width: 800px) {
  #open-1 {
    font-size: 3.5rem
  }
  #open-2 {
    font-size: 2rem
  }
}
@media (min-width: 1201px) {
  #open-1 {
    font-size: 6rem
  }
  #open-2 {
    font-size: 2rem
  }
}

h2 {
  color: #7BBBC0;
  font-size: 2rem;
}

h3 {
  margin-bottom: 1%;
  margin-top: 1%;
  color: #EDC139;
}
h4 {
  color: #7BBBC0;
}

hr {
  width: 70%;
  margin: 3% auto 3% auto;
  color: #D02441;
  border: 2px solid;
}

a {
  color: #42C983;
}
a:hover{
  color: #3DB074;
}

/* Navbar */

.navbar {
  background-color: #282D3A;
  padding: 0.5% 1% 0.5% 1%;
  font-size: 1.2rem;
  z-index: 6;
}
.navbar-brand {
  font-size: 1.3rem;
  color: #EDC139 !important;
}
.nav-link {
  color: #EDC139 !important;
}
@media (max-width: 420px) {
  .navbar {
    font-size: 1.4rem;
  }
  .navbar-brand {
    font-size: 1.6rem;
  }
  .navbar-toggler {
    font-size: 1.6rem;
  }
}
@media (min-width: 421px) and (max-width: 800px) {
  .navbar {
    font-size: 1.5rem;
  }
  .navbar-brand {
    font-size: 1.7rem;
  }
}
@media (min-width: 801px) {
  .navbar.navbar-article {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  }
}

.nav-item {
  padding-left: 1rem;
}

.here {
  font-weight: bold;
}

/* Cards */

.card {
  color: #282D3A;
  background-color: #E63B57;
  padding: 2% 0 2% 0;
  margin: 5% 0 5% 0;
}

.intro-card-soon {
  color: #282D3A;
  background-color: #E63B57;
  padding: 2% 0 2% 0;
  margin: 5% 0 5% 0;
  opacity: 0.75;
}

.card-title {
  font-size: 1.6rem;
}

.card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

@media (min-width:1200px) {
  .intro-card {
    height: 150px;
  }
  .intro-card-soon {
    height: 150px;
  }
}


/* Articles */

.language {
  display: inline;

  padding: 0.2% 1% 0.2% 1%;
  margin: 0 1% auto 1%;

  border-radius: 20px;
  border: 1px solid #9d9fa3;

  font-size: 1.2rem;
  font-weight: bold;
  color: #282D3A;
}
@media (max-width: 420px) {
  .language {
    padding:0.5% 2% 0.5% 2%;
    font-size: 1.4rem;
  }
  .languages {
    margin-top: 3%;
    margin-bottom: 4%;
  }
  #hr-language {
    margin-bottom: 4%;
  }
}
@media (min-width: 1201px) {
  .languages {
    margin-top: 1%;
    margin-bottom: 3%;
  }
  #hr-language {
    margin-top: 10%;
  }
}

.german {
  background-color: #7BBBC0;
}
.english {
  background-color: #3DB074;
}

#hr-language {
  margin-top: 1.5%;
  margin-bottom: 3%;"
}

.recommend {
  color: #EDC139;
  background-color: #282D3A;

  border: 2px solid #EDC139;
  border-radius: 5px;

  margin: auto;
  margin-bottom: 5%;

}

.article-card {
  padding: 0;
  margin: auto;
  margin-bottom: 5%;
}

.lab-theory {
  background-color: #BA77D0;
  color: #282D3A;
}
.lab-policy {
  background-color: #E9896A;
  color: #282D3A;
}
.lab-int {
  background-color: #D96098;
  color: #282D3A;
}
.lab-history {
  background-color: #C94C23;
  color: #282D3A;
}

/* Blog Texts */
.title {
  font-size: 3.5rem;
  padding-bottom: 1.5%;
  color: #D02441;
}
@media (max-width: 400px) {
  .title {
    padding-top: 5%;
    padding-bottom: 5%;
}
}
@media (max-width: 1201px) {
  .title {
    font-size: 2.5rem;
  }
}

.text {
  color: #f7f6f5;
  font-size: 1.2rem;
}
@media (max-width: 800px) {
  .text {
    font-size: 1.3rem;
  }
}

.disclaimer {
  color: #e6ebf3;
  font-style: italic;
}

.formula {
  font-style: italic;
  font-size: 1.5rem;
  text-align: center;
}
@media (max-width: 1201px) {
  .formula {
    font-style: italic;
    text-align: left;
    font-size: 1.2rem;
  }
}

.quote {
  font-style: italic;
  font-size: 1.2rem;
}
@media (max-width: 800px) {
  .quote {
    font-style: italic;
    text-align: left;
  }
}

.fig-desc {
  font-style: italic;
  font-weight: lighter;
  padding-top: 1%;
}

.figure {
  text-align: center;
  width: 90%;
  margin: 3% auto 3% auto;
}

.jumper {
  padding: 2.8%;
}

.material {
  margin-top: 5%;
  font-style: italic;
  font-size: 1.2rem;
}
@media (max-width: 800px) {
  .material {
    font-size: 1.3rem;
  }
}

/* Footer */

.bottom {
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;

  background-color: #282D3A;
  padding: 0.25%;

  text-align: center;
  font-size: 0.9rem;
  color: #EDC139;
}

/* About me */

@media (max-width:480px) {
  #profile-about {
  width: 55%;
  border-radius: 50%;
  border: 2px solid #EDC139;
  }
  .about-me {
    padding-top: 6%;
    font-size: 1.4rem;
  }
  #hr-about-1 {
    margin-top: 8%;
  }
  #hr-about-2 {
    margin-bottom: 8%;
  }
}
@media (min-width:481px) and (max-width: 991px) {
  #profile-about  {
    width: 30%;
    border-radius: 50%;
    border: 2px solid #EDC139;
  }
  .about-me {
    padding-top: 6%;
    font-size: 1.4rem;
  }
  #hr-about-1 {
    margin-top: 5%;
  }
  #hr-about-2 {
    margin-bottom: 5%;
  }
}
@media (min-width: 992px) and (max-width:1200px) {
  #profile-about  {
    width: 110%;
    border-radius: 50%;
    border: 2px solid #EDC139;
  }
  .medium-distance {
    padding-right: 5%;
  }
  #hr-about-1 {
    margin-top: 5%;
  }
  #hr-about-2 {
    margin-bottom: 9%;
  }
}
@media (min-width: 1201px) {
  #profile-about  {
    width: 80%;
    border-radius: 50%;
    border: 2px solid #EDC139;
  }
  #hr-about-1 {
    margin-top: 6%;
  }
  #hr-about-2 {
    margin-bottom: 0;
  }
  .about-me {
    style="padding-top: 6%;
    font-size: 2vh;
  }
}
