#cab-static {
  width:80%;
}

#target{
  width: 60%;
}

#cab-exr {
  width:80%;
}

#inf-exr {
  width: 80%;
}

#feers {

}

@media (max-width: 600px) {
  #cab-static {
    width: 100%;
  }

  #target{
    width: 80%;
  }

  #cab-exr {
    width:100%;
  }

  #inf-exr {
    width: 100%;
  }

  #feers {

  }
}
